.table-container {
  width: 600px;
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.course-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
}

.course-table td {
  border: 2px solid #b6b6b6;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

.course-table th {
  padding: 8px;
  position: sticky;
  top: 0;
  border: 2px solid #b6b6b6;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.course-table input {
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 0;
}
input:focus {
  outline: none;
  border: 1.5px solid #458ad0; /* 可以根据需要修改颜色和样式 */
}

.course-table button {
  background-color: #ffa8a2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.course-table button:hover {
  background-color: #ff8989;
}
.button-area {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 20px auto;
  margin-top: 30px;
  flex-direction: row;
  position: absolute;
  bottom: 5%;
}
.button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: 2px solid #458ad0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  line-height: 50px;
  color: #737373;
  padding: 0 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
.button:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  cursor: pointer;
}
