.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.area {
    height: 736px;
    width: 927px;
    margin: 200px 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(215, 247, 245, 0.25);
    border-radius: 25px;
    border: 5px solid #3C3C3C;
    position: relative;
}
.title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* MarkingTable.css */
/* EventTable.css */
.target-input,
.event-input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.target-input input,
.event-input input {
  padding: 8px;
  margin: 0px 10px 20px 0;
  width: 200px;
}

.target-table,
.event-table {
  width: 100%;
  border-collapse: collapse;
}

.target-table th,
.event-table th {
    padding: 8px;
    position: sticky;
    top: 0;
    border: 2px solid #b6b6b6;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.target-table td,
.event-table td {
    border: 2px solid #b6b6b6;
    padding: 8px;
    text-align: center;
    font-size: 12px;
}

.target-table th {
  background-color: #f2f2f2;
}

.target-table button,
.event-table button {
  padding: 8px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
}

.action-button-container { 
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin:  0 0 -30px 0;
  flex-direction: row;
  position: absolute;
  bottom: 0%;
}

.action-button-container-event { 
  display: flex;
  justify-content: center;
  width: 600px;
  margin:  0 0 -30px 0;
  flex-direction: row;
  position: absolute;
  bottom: 0%;
}

.mark-action-button-container { 
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin:  0 0 -60px 0;
  flex-direction: row;
  position: absolute;
  bottom: 0%;
}

.marking-button,
.event-button,
.action-button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: 2px solid #458ad0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  line-height: 50px;
  color: #737373;
  padding: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.marking-button:hover,
.event-button:hover,
.action-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.management-container {
  width: 600px;
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
}

.mark-area,
.event-area {
  height: auto;
  max-height: 700px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.button-register {
  height: 35px;
  margin: 0px 0px 0px 10px;
}